<p><%= game_state(@tally.game_state) %></p>

<div class="container">
  <div class="row">

    <div class="column column-33">
      <%= render("_gallows.html", left: @tally.turns_left) %>
    </div>

    <div class="column column-67">
      <%= render("_status.html", tally: @tally, conn: @conn) %>
    </div>

  </div>
</div>
